/**{*/

/*    border-*/

/*}*/

/*table* {*/

/*font-size: 12px;*/

/*margin-left:auto;*/

/*margin-right:auto;*/

/*border-collapse: collapse;*/

/*}*/

/*table th* {*/

/*font-size: 14px;*/

/*font-weight: bold;*/

/*border: 1px solid #999999;*/

/*padding: 0px 5px;*/

/*}*/

/*table td* {*/

/*border: 1px solid #999999;*/

/*padding: 5px 5px;*/

/*}*/

/*h2{*/

/*    text-align: center;*/

/*}*/
td{
  text-align: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
  background-color: #00386d;
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  list-style-type: none;
  padding-right: 10%;
}

iframe {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


.d-block{
    height:400px;
    width:200px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

caption{
  margin: 0px;
}


main{
  background-color:#hazel ;
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/*laptops*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}