body{
  background-color: #ecf2f8;
}

.showcase{
  background-color: #29539b;
background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
height:300px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.platform-issues a{
  text-decoration: none;
  color: white;
}
h1{
  text-align: center;
}
h2{
  font-size: 2rem;
  color: white;
  font-family: arial;
}

.nav-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
  background-color: grey;
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
    display:inline;
    list-style-type: none;
    padding-right: 10%;
}


.candidate-img{
  min-width: 200px;
  /*width:30%;*/
  max-width: 400px;
  height: auto;
}

.platform-issues{
  border-radius: 20px;
  max-width: 660px;
}

.platform-issues.card-1{
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.platform-issues.card-2{
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.platform-issues.card-3{
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.platform-issues.card-4{
    background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

footer{
    background-color:#1e3b70;
}

footer .col-12 {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  footer .col-12 {
    justify-content: flex-end;
  }
}