* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo {
  width: 20vw;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}